@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.body-content{
    max-height: 300px !important;
    overflow-y: scroll;
}

.trix-button-group-history-tools{
    display: none !important;
}

.error{
    color: red;
}

.card{
    @apply bg-white rounded overflow-hidden shadow-md relative;
}

.badge{
    @apply bg-gray-100 text-gray-700 text-xs uppercase font-bold rounded-full p-2 absolute top-0 ml-2 mt-2;
}